<style>
    #text_input {
      width: 100%;
      height: 100%;
      max-width: 500px;
      min-height: 200px;
    }
    .block { 
      margin:30px
    }
    .highlightOver { 
      background:#eee;
    }
    .row {
      margin:10px
    }
    #fileHolder{
      border: 6px dashed #bbb;
      text-align: center;
      color: #bbb;
      font-size: 20px;
      width: 480px; 
      line-height: 200px;
      height: 200px; 
    }
    ul {
      list-style-type:bullet;
    }
    label.control-label span { 
      cursor: pointer; 
    }
  .date-picker{z-index:1151 !important;}
</style>

<div class="block">
    <div class="row">
        <div id="fileHolder">Drop your files or folders here</div>
    </div>
      
    <div class="row"></div>

    <div id="text_input">
        <div class="row">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">Description</span>
                <input type="text" id="desc" name="desc" class="form-control" placeholder="">
            </div>
        </div>
    
        <div class="row">
            <div class="input-group">
                <span class="input-group-addon">Location</span>
                <input type="text" id="place" name="place" class="form-control" placeholder="Where were these image(s) taken?">
            </div>
        </div>

        <div class="row">
            <div class="input-group">
                <span class="input-group-addon">Subject</span>
                <input type="text" id="subject" name="subject" class="form-control" placeholder="Who / what are in these photo(s)?">
            </div>
        </div>

        <div class="row">
            <div class="date-form">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-group">
                            <label for="date-picker" class="input-group-addon btn">
                              <span>Date</span>
                            </label>
                            <input id="date-picker" type="text" name="date" class="date-picker form-control" placeholder="When were these photo(s) taken?"/>
                        </div>
                    </div>
                </div>
            </div>   
        </div>

        <div class="row">
            <h4>Files to upload:</h4>
            <ul id="fileOutput"></ul>
        </div>

    </div>
</div>

<script>
    $(".date-picker").datepicker();

    $(".date-picker").on("change", function () {
        var id = $(this).attr("id");
        var val = $("label[for='" + id + "']").text();
        $("#msg").text(val + " changed");
    });
</script>

<script type="text/javascript">
    /* TODO:
          - read in groups from DB and generate UI bullets
          - store each image in image database
    */

    var files, 
        file, 
        extension, 
        output = document.getElementById("fileOutput"),
        dropzone = document.getElementById("fileHolder");

    dropzone.addEventListener("dragover", function (e) {
        e.preventDefault();
        dropzone.classList.add("highlightOver");
    });

    dropzone.addEventListener("dragleave", function (e) {
        dropzone.classList.remove("highlightOver");
    });

    dropzone.addEventListener("dragend", function (e) {
        dropzone.classList.remove("highlightOver");
    });

    dropzone.ondrop = function(e) {
        e.preventDefault();
        dropzone.classList.remove("highlightOver");
          
        files = [];
        output.innerHTML = "";

        for (var i = 0, len = e.dataTransfer.items.length; i < len; i++) {
            var entry = e.dataTransfer.items[i].webkitGetAsEntry();
            readDir(entry, files);
        }
    };

    function readDir(entry, files) {
        if (entry.isFile) {
            readFile(entry, files);
        } else if (entry.isDirectory) {
            var dirReader = entry.createReader();
            dirReader.readEntries(function(entries) {
                for (var i = 0; i < entries.length; ++i) {
                  readDir(entries[i], files);
                } 
            });
        }
    }

    function readFile(file, files) {    // file type FileEntry
        console.log(file.size);
        extension = file.name.split(".").pop();
        if (extension == 'jpg' || extension == 'gif') {
            files.push(file);
            output.innerHTML += "<li class='type-" + extension + "'>" + file.fullPath + "</li>";
        }        
    }



</script>

