<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to ImageShare!</h1>
			<p>aasdasdd</p>
		</div>
	</div>

	<%include login %>

	<div class="container">
		<div class="well">
			<% include content %>
		</div>
		<hr>
			<% include footer %>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>

</body>
</html>